.form-ele{
    position:absolute;
    position: relative;
    background-color: rgb(40, 40, 56);
    width: 500px;
    height: 700px;
    left: 35%;
    top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border-bottom: 20px;
    
    
    
}

.form-ele input{
    position: relative;
    background-color: rgb(19, 19, 19);
    border-radius: 8px;
    margin-bottom: 15px;
    height: 40px;
    width: 80%;
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    left: 45px;
    border-color: rgb(0, 0, 97);
    border-style:inset;
    font-size: 15px;
   
    

}
.form-ele h1{
    position: relative;
    left: 50px;
    top: -50px;
    
}
.form-ele label{
    position: relative;
    left: 45px;
}

.form-ele button{
    position: relative;
    background-color: rgb(0, 1, 58);
    width: 390px;
    height: 50px;
    left: 45px;
    top: 20px;
    color: white;
    border-radius: 5px;
    border-color: blue;
}

.form-ele p{
    position: relative;
    top: 50px;
    left: 120px;
}

.form-ele p a {
    color: red;
    
}

@media (max-width:480px) {

.form-ele {
    left: 5%;
    width: 350px;
    /* height:auto ; */

    
}
.form-ele button{
    width: 200px;
}

.form-ele h1{
    font-size: 25px;
    left: 25px;
}
.form-ele p {
    left:35px ;
}
}